<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="products_management.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <products_management.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>DESKTOP-8LEGH0C\SQLEXPRESS</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>productDB</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>SQL</value>
            </setting>
            <setting name="id" serializeAs="String">
                <value>mahmoud</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>asd138</value>
            </setting>
        </products_management.Properties.Settings>
    </userSettings>
</configuration>